body {margin: 0;}

#spacer {
    width: 100%;
    aspect-ratio: 6/1;
    background-color: red;
}

#title {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
}

#cartWrapperGrid {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto;
}
.cartSubGrid {
    width: 100%;
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
    align-items: center;
}

.productImage {
    width: 35%;
    background-color: blue;
    aspect-ratio: 1/1;
}