body {margin: 0;}

#spacer {
    width: 100%;
    aspect-ratio: 5/1;
}

#cartWrapperGrid {
    width: 80%;
    margin-left: 8%;
    display: grid;
    grid-template-columns: auto;
    color: white;
    font-weight: bold;
}
.cartSubGrid {
    width: 100%;
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
    align-items: center;
    padding: 3%;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(19, 15, 14, 0.5);
}

.productImage {
    width: 35%;
    background-color: blue;
    aspect-ratio: 1/1;
}
.quantity {
    width: 52%;
    background-color: blue;
    aspect-ratio: 3/1;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid white;
    white-space: nowrap;
}
.quantity div {
    width: 33.33%;
    aspect-ratio: 1/1;
    border-left: 1px solid white;
    border-right: 1px solid white;
    float: left;
}
.increment {margin-left: -2px;}
.decrement {margin-right: -3px;}

.checkout {
    display: block;
    margin: auto;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e5d3b3;
    color: #56382e;
    font-size: x-large;
}