body {margin: 0;}

h1 {
    text-align: center;
    font-family: Nickainley;
    font-size: 100px;
    color: #56382e;
    box-shadow:#000000;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-family: Nickainley;
    font-size: 50px;
    color: #56382e;
    box-shadow:#000000;
    margin-bottom: 5px;
}

.spacer {
    width: 100%;
    aspect-ratio: 8/1;
    background-color: #e6d4b4;
}

.morning {
    width: 100%;
    background-color: #e6d4b4;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

.morningGrid {
    margin-top: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    margin-bottom: 50px;
}
.morningImgs {
    width: 60%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    background-color: #bad1eb;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.afternoon {
    width: 100%;
    background-color: #c6b297;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

.afternoonGrid {
    margin-top: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    margin-bottom: 50px;
}
.afternoonImgs {
    width: 60%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    background-color: #bad1eb;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.evening {
    width: 100%;
    background-color: #a58e78;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

.eveningGrid {
    margin-top: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    margin-bottom: 50px;
}
.eveningImgs {
    width: 60%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    background-color: #bad1eb;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel {
    position: relative;
    width: 60%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    overflow: hidden;
    background-color: #bad1eb;
}

.carouselImgs {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carouselImgs.active {
    left: 0;
    opacity: 1;
}

.carouselImgs.previous {
    left: -100%;
}