* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nickainley, sans-serif;
    text-align: center;
    background-color: #e6d4b4;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #56382e;
    margin-top: 200px;
    margin-bottom: 50px;
}

h2 {
    font-size: 50px;
    color: #56382e;
    margin-left: 20px;
    line-height: 1;
}

.morning-container {
    padding: 0px;
}

.afternoon-container {
    padding: 0px;
}

.morning-container {
    padding: 0px;
}

.morning-section {
    background-color: #e6d4b4;
    padding: 50px;
    border: none;
}

.afternoon-section {
    background-color: #c6b297;
    padding: 50px;
    border: none;
}

.evening-section {
    background-color: #a58e78;
    padding: 50px;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 30px;
    color: #56382e;
    margin: 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.product-list li {
    text-align: center;
    width: calc(25% - 20px);
}

.product-list img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    max-height: 250px;
}

.product-list p {
    margin-top: 10px;
    font-size: 20px;
}