body {
    background: linear-gradient(15deg,#DBAD9C,#F0DBC5);


}
.spacer{
    width:100%;
    aspect-ratio: 5/1;
}
.container{
    height: fit-content;
    max-width: 1024px;
    margin-left: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family:Nickainley, Serif, serif;
    font-size:40px;

}

.space{
    height:100px;
    width:1024px;
}


.coffeeimage{
    display:flex;
    height:353px;
    width: 1024px;
    justify-content: space-between;
}



.coffee-pic{
    width:304px;
    height:353px;
}

.info{
    position:absolute;
    width:1024px;
    height:304px;
    display: flex;
    justify-content: space-between;
}


.coffee{
    width:304px;
    height:353px;
    /*background:rgba(0,0,0,0.4);*/
    /*backdrop-filter: blur(10px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    margin-inside: 20px;
    content-visibility: hidden;
    transition: 0.7s;
}


.info p{
    color: black;
    font-size:0;
    padding:10px;
    transition:0.3s;
}

.coffee:hover{
    background:rgba(219,173,156,0.4);
    backdrop-filter: blur(10px);
    content-visibility: inherit;
}
.coffee:hover p{
    font-size:16px;
}


